<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904559981404-c64pkd68jo6jkb6dr36p9b6ffcbih4pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904559981404-c64pkd68jo6jkb6dr36p9b6ffcbih4pi</string>
	<key>API_KEY</key>
	<string>AIzaSyDmDHAzvNMrd9YLnpWpvUv08VhZCevoyjo</string>
	<key>GCM_SENDER_ID</key>
	<string>904559981404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kopifood</string>
	<key>PROJECT_ID</key>
	<string>kopifood-4859d</string>
	<key>STORAGE_BUCKET</key>
	<string>kopifood-4859d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904559981404:ios:351dbfcd65740901510799</string>
</dict>
</plist>